{% extends 'trunk.html' %}
{% block title %} :: Login{% endblock %}
{% block content %}
<h1><span class="fas fa-user-plus"></span> Signup</h1>
<form action="{% url 'signup' %}" method="POST">
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" name="username" placeholder="Hamlet" required>
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" name="email" placeholder="hamlet@tragedies.dk" required>
    </div>
    <!-- <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" name="password" placeholder="T00b3" required>
    </div> -->
    <button type="submit" class="btn btn-success btn-block">Login</button>
</form>
{% endblock %}