{% extends '../trunk.html' %}
{% block content %}
{% if closed %}
<h4>Poll Closed With:</h4>
<h6>{{chosen}}</h6>
{% else %}
<h3>{{poll.question_text}}</h3>
<form action="{{request.path}}/vote" method="POST">
    <ul>
        {% for choice in choices %}
        <li><div class="form-group">
            <p>{{choice.choice.choice_text}}</p>
            {{votes.choice}}
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="vote_{{choice.choice.id}}" value="POS" {% if choice.vote == 'POS' %}checked{% endif %}>Yes
              </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="vote_{{choice.choice.id}}" value="NEG" {% if choice.vote == 'NEG' %}checked{% endif %}>NO
              </label>
            </div>
        </div></li>
        {% endfor %}
    </ul>
    <button type="submit" class="btn btn-success">Vote</button>
</form>
{% endif %}
{% endblock %}