{% extends '../trunk.html' %}
{% block content %}
<h3>{{poll.question_text}}</h3>
<h4>Choices</h4>
<ul>
{% for choice in choices %}
<li>
    <span>{{choice.choice}}</span>
    {% if not closed %}
    &nbsp;
    <a href="{% url 'poll:delete_choice' poll.id choice.choice.id %}" class="btn btn-danger btn-sm mb-2"><span class="far fa-minus-square"></span></a>
    {% endif %}
    <dl>
        {% for vote in choice.votes %}
        <dt>{{vote.text}}</dt>
        <dd>{{vote.num}}</dd>
        {% endfor %}
    </dl>
</li>
{% endfor %}
</ul>
{% if not closed %}
<form action="{% url 'poll:choice' poll.id %}" method="POST" class="form-inline">
    {% if poll.poll_type == poll.POLL_T_TEXTUAL %}
    <label for="text" class="mr-sm-2">Choice:</label>
    <input type="text" class="form-control mb-2 mr-sm-2 mb-2" name="text" placeholder="Hamlet" required id="text">
    {% elif poll.poll_type == poll.POLL_T_TIMED %}
    <label for="start-date" class="mr-sm-2">On:</label>
    <input type="date" class="form-control mb-2 mr-sm-2 mb-2" name="start-date" required id="start-date">
    <label for="start-date" class="mr-sm-2">Start time:</label>
    <input type="time" class="form-control mb-2 mr-sm-2 mb-2" name="start-time" required id="start-time">
    <label for="start-date" class="mr-sm-2">End time:</label>
    <input type="time" class="form-control mb-2 mr-sm-2 mb-2" name="end-time" required id="end-time">
    {% elif poll.poll_type == poll.POLL_T_RECURRING %}
    <select name="weekday" required class="custom-select form-control mb-2 mr-sm-2 mb-2">
        <option disabled selected hidden>Funday</option>
        {% for weekday in weekdays %}
        <option value="{{weekday.0}}">{{weekday.1}}</option>
        {% endfor %}
    </select>
    <label for="start-date" class="mr-sm-2">Start:</label>
    <input type="time" class="form-control mb-2 mr-sm-2 mb-2" name="start-time" required id="start-time">
    <label for="end-date" class="mr-sm-2">End:</label>
    <input type="time" class="form-control mb-2 mr-sm-2 mb-2" name="end-time" required id="end-time">
    {% endif %}
    <button type="submit" class="btn btn-success mb-2"><span class="far fa-plus-square"></span></button>
</form>
{% endif %}
<h4>Involved People</h4>
<ul>
    {% for user in involved_users %}
    <li>
        <span>{{user.name}}</span>
        {% if not closed %}
        &nbsp;
        <a href="{% url 'poll:delete_user' poll.id user.name %}" class="btn btn-danger btn-sm mb-2"><span class="fas fa-user-minus"></span></a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% if not closed %}
<form action="{% url 'poll:user' poll.id %}" method="POST" class="form-inline">
    <label for="username" class="mr-sm-2">User:</label>
    <select name="username" required class="custom-select form-control mb-2 mr-sm-2 mb-2">
        <option disabled selected hidden>Hamlet</option>
        {% for user in users %}
        <option value="{{user.name}}">{{user.name}}</option>
        {% endfor %}
    </select>
    <button type="submit" class="btn btn-success mb-2"><span class="fas fa-user-plus"></span></button>
</form>
{% endif %}
{% if not closed %}
<h4>Close Poll</h4>
<form action="{% url 'poll:done' poll.id %}" method="POST" class="form-inline">
    <select name="choice" required class="custom-select form-control mb-2 mr-sm-2 mb-2">
            <option disabled selected hidden>To be?</option>
            {% for choice in choices %}
            <option value="{{choice.choice.id}}">{{choice.choice}}</option>
            {% endfor %}
        </select>
    <button type="submit" class="btn btn-warning mb-2"> Close Poll</button>
</form>
{% else %}
<p>Poll closed with: {{chosen}}</p>
<form action="{% url 'poll:reopen' poll.id %}" method="POST" class="form-inline">
    <button type="submit" class="btn btn-warning mb-2"> Reopen Poll</button>
</form>
{% endif %}
{% endblock %}