{% extends '../trunk.html' %}
{% block content %}
{% if closed %}
<h4>Poll Closed With:</h4>
<h6>{{chosen}}</h6>
{% else %}
<h3>{{poll.question_text}}</h3>
<form action="{% url 'poll:vote' poll.id %}" method="POST">
    <ul>
        {% for choice in choices %}
        <li class="form-group">
            <div class="form-check-inline">
                {{choice.choice}}
            </div>
            {% for vote in possible_votes %}
            <div class="form-check-inline">
                <label class="form-check-label">
                <input type="radio" class="form-check-input" name="vote_{{choice.choice.id}}" value="{{vote}}" {% if choice.vote == vote %}checked{% endif %}>{{vote}}
              </label>
            </div>
            {% endfor %}
        </li>
        {% endfor %}
    </ul>
    <button type="submit" class="btn btn-success">Vote</button>
</form>
{% endif %}
{% endblock %}